<div class="promo">
    <div class="center-container">
        <h3 class="tagline">{{ params.get('SITE_SLOGAN') }}</h3>
        <div class="square">
            <h1>Уборка квартир в&nbsp;Минске</h1>
            {{ params.get('BLOCK_MAIN_LINKS')|raw }}
        </div>
    </div>
</div>