<div class="benefits">
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-1.png') }}">
        </div>
        <p>Круглосуточный прием&nbsp;заказов</p>
    </div>
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-2.png') }}">
        </div>
        <p>Профессиональные клинеры</p>
    </div>
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-3.png') }}">
        </div>
        <p>Скидки и акции</p>
    </div>
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-4.png') }}">
        </div>
        <p>Высокое качество&nbsp;услуг</p>
    </div>
</div>