<div class="benefits-2">
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-color-1.png') }}">
        </div>
        <h4>Безопасность</h4>
    </div>
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-color-2.png') }}">
        </div>
        <h4>Профессиональная <br>техника</h4>
    </div>
    <div class="benefit">
        <div class="benefit-icon">
            <img src="{{ asset('bundles/app/images/pros-color-3.png') }}">
        </div>
        <h4>Страхование ответственности</h4>
    </div>
</div>