services:
    admin.order:
        class: App\Admin\OrderAdmin
        arguments: [~, App\Entity\Order, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Order, group: Admin }
        public: true

    admin.page:
        class: App\Admin\PageAdmin
        arguments: [~, App\Entity\Page, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Page, group: Admin }
        public: true

    admin.param:
        class: App\Admin\ParamAdmin
        arguments: [~, App\Entity\Param, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Param, group: Admin }
        public: true

    admin.cleaner:
        class: App\Admin\CleanerAdmin
        arguments: [~, App\Entity\Cleaner, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Cleaner, group: Admin }
        public: true

    admin.inventory:
        class: App\Admin\InventoryAdmin
        arguments: [~, App\Entity\Inventory, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Inventory, group: Admin }
        public: true

    admin.promocode:
        class: App\Admin\PromocodeAdmin
        arguments: [~, App\Entity\Promocode, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: Promocode, group: Admin }
        public: true

    admin.call_request:
        class: App\Admin\CallRequestAdmin
        arguments: [~, App\Entity\CallRequest, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: CallRequest, group: Admin }
        public: true