vich_uploader:
    db_driver: orm
    mappings:
        # Услуги
        service_image:
            uri_prefix:         '%uploads_url%/services'
            upload_destination: '%uploads_dir%/services'
            namer:
                service:        model.naming.file_hash
                options:        { length: 6 }
            delete_on_update:   true
            delete_on_remove:   true