// Layout
$body-min-width: 320px;
$max-width: 1160px;
$popup-form-max-width: 440px;
$border-radius: 6px;
// Switches
$use-labels: true;
// Breakpoints
$bp-narrow: 500px;
$bp-tablet: 640px;
$bp-desktop: 900px;
$bp-wide: 1000px;
// Fonts
$font-family: 'Open Sans', sans-serif;
// Body
$bg-color: #fff;
// Footer
$footer-text-color: #fff;
$footer-bg-color: #6d7b7e;
// Other
$accent-color: #00d8e0;
$error-color: #f52100;
$hr-color: #ccc;
// Text
$text-color: #333;
$text-light-color: #999;
// Links
$link-color: #00b6bd;
$link-hover-color: #009198;
// Forms
$form-text-color: #333;
$label-color: #666;
$placeholder-color: #999;
$form-bg-color: #ededed;
$input-border-color: #ccc;
$input-error-color: $error-color;
$input-error-border-color: $error-color;
// Buttons
$button-text-color: #fff;
$button-bg-color: $accent-color;
$button-hover-bg-color: #00b6bd;
// Banner
$tagline-color: #fff;
$square-text-color: #fff;
$square-text-grey: #b1b1b1;
$square-bg-color: rgba(0, 0, 0, 0.6);
// Calculator
$calc-text-color: #fff;
// Plugins
$tooltip-bg-color: rgba(0, 0, 0, 0.7);