* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-width: $body-min-width;
  min-height: 100vh;
  color: $text-color;
  background-color: $bg-color;
  font: 14px/20px $font-family;
}

.center-container {
  position: relative;
  padding: 0 20px;
  width: 100%;
  @media (min-width: $bp-desktop) {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.middle {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 40px;
  .order-form-container {
    order: 1;
    @media (min-width: $bp-desktop) {
      order: 2;
    }
  }
  .promo {
    order: 2;
    @media (min-width: $bp-desktop) {
      order: 1;
    }
  }
  .content {
    order: 3;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}